@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		retro --default,
		black --prefersdark;
}

@theme {
	--font-sans: 'Inter Tight', ui-sans-serif, sans-serif, system-ui;
	--font-mono: 'Spline Sans Mono', ui-monospace, monospace;
}

body {
	--scrollbar-width: 5px;
	--scrollbar-border-radius: 8px;
	--scrollbar-thumb-color: #a0a0a0;
	--show-double-buttons: none;
	--scrollbar-border-thickness: 0px;
	--scrollbar-height: 15px;
	--scrollbar-track-color: transparent;
}
body::-webkit-scrollbar {
	width: var(--scrollbar-width, 20px);
	height: var(--scrollbar-height, 20px);
}
body::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color, #3b82f6);
	border: var(--scrollbar-border-thickness, 3px) solid
		var(--scrollbar-border-color, rgb(255, 255, 255));
	border-radius: var(--scrollbar-border-radius, 4px);
}
body::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color, #a1a1aa);
}
body::-webkit-scrollbar-corner {
	background: var(--scrollbar-corner-color, #ffffff);
	border: var(--scrollbar-border-thickness, 3px) solid
		var(--scrollbar-border-color, rgb(255, 255, 255));
	border-radius: var(--scrollbar-border-radius, 4px);
}
::selection {
	color: oklch(var(--nc));
	background: oklch(var(--n));
}

@layer base {
	@font-face {
		font-family: Inter Tight;
		src: url('/fonts/InterTight-VariableFont_wght.woff2') format('woff2');
		font-weight: 300 500;
		font-display: swap;
	}
	@font-face {
		font-family: Spline Sans Mono;
		src: url('/fonts/SplineSansMono-VariableFont_wght.woff2') format('woff2');
		font-weight: 300 400;
		font-display: swap;
	}
}

@layer components {
	.post {
		display: flex;
		user-select: none;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.375rem;
		overflow: auto;
		overflow-wrap: break-word;
		border: 1px solid var(--color-accent);
		border-radius: 1rem;
		padding: 0.5rem;
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
	}
	@media (min-width: 768px) {
		.post {
			gap: 0.75rem;
		}
	}
}
